
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
.erste{
  
  

  border: 2px solid red;
  background: url('../public//indir.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
width: 100%;
}
.zwei{
  position: absolute;
    top: 28%;
    left: 40%;
  

}
button{
  display: flex;
  justify-content: center;
  background-color: blue;
  color: white;
  width: 170px;
}

.alt{
  border: 2px solid red;
  height: 300px;
  display: flex;
  justify-content: center;
}
.cer{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
 height: 200px;
 width: 200px;
  top: 28%;
  left: 40%;
}
h1{
  display: flex;
  text-align: center;
  font-family: 'Fascinate', cursive;}
h3{
  justify-content: center;
  display: flex;
  text-align: center;
  
}
.zayi{
  display:flex ;
  flex-direction: column; /*allta koymak icin nbu komutu yaziyoruy*/
}